
$bg_color:pink;
$font-size:1em;

header{
  background: $bg_color;
  border-shadow: darken($bg_color,30);
  padding:10px;

  h1{
    color: darken($bg_color,70);
    font-size: $font_size + .2;
  }
  h2{
    margin-top:20px;
    color: darken($bg_color,50);
    font-size: $font_size + .1;

  }
}